@using Microsoft.AspNet.Identity
@using wc_Blog.Models
@model BlogPost

@{
	ViewBag.Title = "Details";
	string prevPost = ViewBag.PreviousPost;
	string nextPost = ViewBag.NextPost;
}

<section class="site-section py-lg">
	<div class="container">

		<div class="row blog-entries">
			
			
			<div class="col-md-12 col-lg-8 main-content">
				<h1 class="mb-4">@Model.Title</h1>
				@if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
				{
					@Html.ActionLink("Edit", "Edit", new { id = Model.Id })<span>|</span>
					@Html.ActionLink("Delete", "Delete", new { id = Model.Id })
				}
				<div class="post-meta">
					<span class="category">@Model.Category</span>
					<span class="mr-2">@Model.Created.ToString("MMM dd yyyy") </span> &bullet;
					<span class="ml-2"><span class="fa fa-comments"></span> 3</span>
				</div>
				<div class="post-content-body">
					<div class="row mb-5">
						<div class="col-sm-12 mb-4 element-animate">
							@if (Model.MediaURL != null)
							{
								<img class="img-responsive" src="@Model.MediaURL" alt="" />
							}
						</div>
					</div>

					@Html.Raw(Model.Body)



					<div class="pt-5">
						<h3 class="mb-5">@Model.Comments.Count Comments</h3>
						<ul class="comment-list">
							@foreach (var comment in Model.Comments.OrderByDescending(c => c.Created))
							{
								<li class="comment">
									<div class="vcard">
										<img src="@comment.Author.AvatarUrl" alt="Image placeholder">
									</div>
									<div class="comment-body">
										<h3>@comment.Author.DisplayName</h3>
										<div class="meta">@comment.Created.ToString("MMM dd yyyy") at @comment.Created.ToString("h:mm tt")</div>
										<p id="`comment-${comment.Id}`">@comment.CommentBody</p>
										<p><a href="#" class="reply">Reply</a></p>
										@if (User.IsInRole("Admin") || User.IsInRole("Moderator") || User.Identity.GetUserId() == comment.AuthorId)
										{
											<p>@Html.ActionLink("Edit Comment", "Edit", "Comments", new { id = comment.Id }, new { @class = "reply" })</p>
											<p>@Html.ActionLink("Delete", "Delete", "Comments", new { id = comment.Id }, new { @class = "reply" })</p>
										}
									</div>
								</li>
							}
						</ul>
						<!-- END comment-list -->
						@if (User.Identity.IsAuthenticated)
						{
							<div class="comment-form-wrap pt-5">
								<h3 class="mb-5">Leave a comment</h3>
								@using (Html.BeginForm("Create", "Comments", FormMethod.Post, new { @class = "p-5 bg-light" }))
								{
									@Html.AntiForgeryToken()
									@Html.Hidden("BlogPostId", Model.Id)
									@Html.Hidden("Slug", Model.Slug)
									@Html.Label("Comment")<br />
									@Html.TextArea("CommentBody", new { cols = 30, rows = 10 })
									<br />
									<button type="submit" class="btn btn-primary">Post Comment</button>
								}
								@*<form action="#" class="p-5 bg-light">
								<div class="form-group">
									<label for="name">Name *</label>
									<input type="text" class="form-control" id="name">
								</div>
								<div class="form-group">
									<label for="email">Email *</label>
									<input type="email" class="form-control" id="email">
								</div>
								<div class="form-group">
									<label for="website">Website</label>
									<input type="url" class="form-control" id="website">
								</div>

								<div class="form-group">
									<label for="message">Message</label>
									<textarea name="" id="message" cols="30" rows="10" class="form-control"></textarea>
								</div>
								<div class="form-group">
									<input type="submit" value="Post Comment" class="btn btn-primary">
								</div>

							</form>*@
							</div>
						}

					</div>

				</div>

			</div>

			@Html.Partial("_SideNav")

		</div>

	</div>
</section>

<section class="py-5">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="mb-3 ">Related Post</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-lg-4">
				<a href="#" class="a-block d-flex align-items-center height-md" style="background-image: url('/images/img_2.jpg'); ">
					<div class="text">
						<div class="post-meta">
							<span class="category">Lifestyle</span>
							<span class="mr-2">March 15, 2018 </span> &bullet;
							<span class="ml-2"><span class="fa fa-comments"></span> 3</span>
						</div>
						<h3>There’s a Cool New Way for Men to Wear Socks and Sandals</h3>
					</div>
				</a>
			</div>
			<div class="col-md-6 col-lg-4">
				<a href="#" class="a-block d-flex align-items-center height-md" style="background-image: url('/images/img_3.jpg'); ">
					<div class="text">
						<div class="post-meta">
							<span class="category">Travel</span>
							<span class="mr-2">March 15, 2018 </span> &bullet;
							<span class="ml-2"><span class="fa fa-comments"></span> 3</span>
						</div>
						<h3>There’s a Cool New Way for Men to Wear Socks and Sandals</h3>
					</div>
				</a>
			</div>
			<div class="col-md-6 col-lg-4">
				<a href="#" class="a-block d-flex align-items-center height-md" style="background-image: url('/images/img_4.jpg'); ">
					<div class="text">
						<div class="post-meta">
							<span class="category">Food</span>
							<span class="mr-2">March 15, 2018 </span> &bullet;
							<span class="ml-2"><span class="fa fa-comments"></span> 3</span>
						</div>
						<h3>There’s a Cool New Way for Men to Wear Socks and Sandals</h3>
					</div>
				</a>
			</div>
		</div>
	</div>


</section>
<!-- END section -->
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
	<script src="~/Scripts/tinymce/jquery.tinymce.min.js"></script>
	<script src="~/Scripts/tinymce/tinymce.min.js"></script>
	<script type="text/javascript">
		$(function () {
			tinymce.init({
				selector: '#CommentBody'
			});
		});
	</script>
}
